<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangame.hjm.model">

    <!--id,category_id,sub_category_id,company_id,title,keyword,photo,recommend_flag,build_date,origin_addr,
        business_model,product,crowd,area,support,invest_min,invest_max,margin,facility_cost,other_cost,description,
        direct_store,join_store,message_num,company_name,register_time,
        created_at,updated_at,creator,modifier,delete_flag-->
    <sql id="columns">
        <!--@mbg.generated-->
        id,created_at as createAt,updated_at as updateAt,creator,modifier,direct_store as directStore,
        join_store as joinStore,message_num messageNum,category_id categoryId,sub_category_id subCategoryId,company_id companyId,
        title,keyword,photo,recommend_flag recommendFlag,register_time registerTime,
        company_name companyName,build_date buildDate,origin_addr originAddr,business_model businessModel,product,crowd,
        area,support,invest_min investMin,invest_max investMax,margin,facility_cost facilityCost,other_cost otherCost,description,
        state,attribute,delete_flag deleteFlag,core,invest_code investCode,invest_value investValue,region_id regionId
    </sql>

    <!--获取APP更新接口case-->
    <select id="updateVersionCase" parameterType="Integer" resultType="com.sangame.hjm.model.UpdateVersionCase">
        select * from updateversioncase
        where id=#{id}
    </select>
    <!--关键字搜索接口case-->
    <select id="keyWordSearchCase" parameterType="Integer" resultType="com.sangame.hjm.model.KeyWordSearchCase">
        select * from keywordsearchcase
        where id=#{id}
    </select>
    <!--根据条件查询品牌接口case-->
    <select id="searchProjectForConditionCase" parameterType="Integer" resultType="com.sangame.hjm.model.SearchProjectForConditionCase">
        select title,amountCode,sortCode,subCategoryId,pageSize,pageNum,expect from searchprojectforconditioncase
        where id =#{id}
    </select>
    <!--猜你喜欢接口case-->
    <select id="searchYourLikeCase" parameterType="Integer" resultType="com.sangame.hjm.model.SearchYourLikeCase">
        select pageSize,pageNum from searchyourlikecase
        where id =#{id}
    </select>
    <!--商铺详情接口case-->
    <select id="storeDetailsCase" parameterType="Integer" resultType="com.sangame.hjm.model.StoreDetailsCase">
        select projectId,expect from storedetailscase
        where id=#{id}
    </select>
    <!--在线留言接口case-->
    <select id="onLineMessageCase" parameterType="com.sangame.hjm.model.OnLineMessageCase" resultType="com.sangame.hjm.model.OnLineMessageCase">
        select commentId,content,cngoldId,expect from onlinemessagecase
        where id=#{id}
    </select>
    <!--项目定制接口case-->
    <select id="projectCustomCase" parameterType="Integer" resultType="com.sangame.hjm.model.ProjectCustomCase">
        select cngoldId,gender,leavingMessage,name,amountCode,amountValue,interestCategory,phoneNumber,expect from projectcustomcase
        where id=#{id}
    </select>
    <!--商家入驻接口case-->
    <select id="businessEnterCase" parameterType="Integer" resultType="com.sangame.hjm.model.BusinessEnterCase">
        select cngoldId,brand,company,name,cityId,phoneNumber,expect from businessentercase
        where id=#{id}
    </select>
    <!--根据行业查询分类接口case-->
    <select id="searchSubCategoryByCategoryIdCase" parameterType="Integer" resultType="com.sangame.hjm.model.SearchSubCategoryByCategoryIdCase">
        select categoryid from searchsubcategorybycategoryidcase
        where id=#{id}
    </select>
    <!--创建云信客服用户case-->
    <select id="createYunXinIDCase" parameterType="Integer" resultType="com.sangame.hjm.model.CreateYunXinIDCase">
        select userId,expect from createyunxinidcase
        where id=#{id}
    </select>
    <!--分配云信客服case-->
    <select id="distributeYunXinIDCase" parameterType="Integer" resultType="com.sangame.hjm.model.DistributeYunXinIDCase">
        select accid,expect from distributeyunxinidcase
        where id=#{id}
    </select>
    <!--用户注册上报case-->
    <select id="userRegisterCase" parameterType="Integer" resultType="com.sangame.hjm.model.UserRegisterCase">
        select passportId,expect from userregistercase
        where id=#{id}
    </select>







    <!--获取APP更新地址-->
    <select id="getUpdateVersionInfo" parameterType="Integer" resultType="com.sangame.hjm.model.SysConfig">
        select * from sys_config
        where id=#{id}
    </select>
    <!--获取banner图信息-->
    <select id="getBannerTurn" parameterType="Integer" resultType="com.sangame.hjm.model.JmBanner">
        select * from jm_banner order by id asc
    </select>
    <!--根据条件查询品牌-->
    <select id="searchProjectForCondition" parameterType="com.sangame.hjm.model.SearchProjectForConditionCase" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
        from jm_project
        <trim prefix="where" suffixOverrides="AND | OR">
            <if test="subCategoryId != null">
                sub_category_id=#{subCategoryId,jdbcType=INTEGER} AND
            </if>
            <if test="title != null">
                title like concat('%', #{title,jdbcType=VARCHAR},'%') AND
            </if>
            <if test="amountCode != null">
                invest_code=#{amountCode}
            </if>
        </trim>
        <if test="sortCode!=null and sortCode==0">
            order by invest_min ASC
        </if>
        <if test="sortCode!=null and sortCode==1">
            order by invest_max DESC
        </if>

    </select>

    <!--查询总条数-->
    <select id="searchJmProjectForConditionTotal" parameterType="com.sangame.hjm.model.SearchProjectForConditionCase" resultType="java.lang.Integer">
        select
        count(1)
        from jm_project
        <trim prefix="where" suffixOverrides="AND | OR">
            <if test="subCategoryId != null">
                sub_category_id=#{subCategoryId,jdbcType=INTEGER} AND
            </if>
            <if test="title != null">
                title like concat('%', #{title,jdbcType=VARCHAR},'%') AND
            </if>
            <if test="amountCode != null">
                invest_code=#{amountCode}
            </if>
        </trim>
    </select>


    <!--查询分类接口  id,create_at,update_at,creator,modifier,delete_flag,spell,title,icon-->
    <select id="searchCategory" parameterType="Integer" resultType="com.sangame.hjm.model.JmCategory">
        select id,created_at createAt,updated_at updateAt,creator,modifier,title,spell,icon,delete_flag deleteFlag
        from jm_category
        where delete_flag =0
        order by id asc
    </select>

    <!--猜你喜欢接口-->
    <select id="searchYourLike" parameterType="Integer" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
         from jm_project
        where state=1 and attribute=0
        order by id
        LIMIT #{pageNum},#{pageSize}
    </select>
    <!--pageNum =  (page-1)*pageSize-->
    <!--获取猜你喜欢总条数-->
    <select id="searchYourLikeTotal" parameterType="com.sangame.hjm.model.SearchYourLikeCase" resultType="Integer">
        select count(1) from jm_project where state=1 and attribute=0
    </select>

    <!--商铺详情接口-->
    <!--第一步：获取商品-->
    <select id="getJmProject" parameterType="com.sangame.hjm.model.StoreDetailsCase" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
         from jm_project where id=#{projectId}
    </select>
    <!--第二步：获取商品介绍-->
    <select id="getJmProjectExtra" parameterType="com.sangame.hjm.model.StoreDetailsCase" resultType="com.sangame.hjm.model.JmProjectExtra">
        select
        id,created_at createdAt,updated_at updatedAt,creator,modifier,project_id projectId,introduce,delete_flag deleteFlag
        from jm_project_extra where project_id=#{projectId}
    </select>
    <!--第三步：获取商品照片-->
    <select id="getJmProjectPhoto" parameterType="com.sangame.hjm.model.StoreDetailsCase" resultType="com.sangame.hjm.model.JmProjectPhoto">
        select id,created_at,updated_at,creator,modifier,project_id,photo,delete_flag,name,position
         from jm_project_photo
         where project_id=#{projectId}
    </select>
    <!--第四步：获取商品加盟详情-->
    <select id="getJmProjectStat" parameterType="com.sangame.hjm.model.StoreDetailsCase" resultType="com.sangame.hjm.model.JmProjectStat">
        select id,created_at,updated_at,creator,modifier,project_id,apply_count,visit_count,join_store_count,direct_store_count,delete_flag
        from jm_project_stat where project_id=#{projectId}
    </select>

    <!--获取在线留言之后的数据-->
    <select id="getOnLineMessage" parameterType="com.sangame.hjm.model.OnLineMessageCase" resultType="com.sangame.hjm.model.JmComment">
        select id,created_at createdAt,updated_at updatedAt,creator,modifier,cngold_id cngoldId,comment_id commentId,content,delete_flag deleteFlag
        from jm_comment
        <trim prefix="where" prefixOverrides="and">
            <if test="null != commentId and '' !=commentId">
                and comment_id=#{commentId}
            </if>
            <if test="null != content and '' !=content">
                and content=#{content}
            </if>
            <if test="null != cngoldId and '' !=cngoldId">
                and cngold_id=#{cngoldId}
            </if>
        </trim>
    </select>

    <!--获取项目定制之后的数据    数据库中的电话号码是加密的，这里没有把phone_number加上-->
    <select id="getProjectCustom" parameterType="com.sangame.hjm.model.ProjectCustomCase" resultType="com.sangame.hjm.model.JmNeed">
        select id,created_at createdAt,updated_at updatedAt,creator,modifier,cngold_id cngoldId,gender,job,invest_min investMin,
        invest_max investMax,interest_category interestCategory,delete_flag deleteFlag,leaving_message leavingMessage,name,
        phone_number phoneNumber,invest_code amountCode
        from jm_need
        <trim prefix="where" prefixOverrides="and">
            <if test="null != cngoldId and '' !=cngoldId">
                and cngold_id=#{cngoldId}
            </if>
            <if test="null != gender and '' !=gender">
                and gender=#{gender}
            </if>
            <if test="null != leavingMessage and '' !=leavingMessage">
                and leaving_message=#{leavingMessage}
            </if>
            <if test="null != name and '' !=name">
                and name=#{name}
            </if>
            <if test="null != amountCode and '' !=amountCode">
                and invest_code=#{amountCode}
            </if>
            <if test="null != interestCategory and '' !=interestCategory">
                and interest_category=#{interestCategory}
            </if>
        </trim>
    </select>

    <!--获取商家入驻之后的数据-->
    <select id="getBusinessEnter" parameterType="com.sangame.hjm.model.BusinessEnterCase" resultType="com.sangame.hjm.model.JmEnterApply">
        select id,created_at,updated_at,creator,modifier,cngold_id,brand,company,name,city_id,delete_flag,phone_number from jm_enter_apply
        <trim prefix="where" prefixOverrides="and">
            <if test="null !=cngoldId and '' !=cngoldId">
                and cngold_id=#{cngoldId}
            </if>
            <if test="null !=brand and '' !=brand">
                and brand=#{brand}
            </if>
            <if test="null !=company and '' !=company">
                and company=#{company}
            </if>
            <if test="null !=name and '' !=name">
                and name=#{name}
            </if>
            <if test="null !=cityId and '' !=cityId">
                and city_id=#{cityId}
            </if>
        </trim>
    </select>

    <!--获取首页主要分类接口-->
    <select id="getHomeSubCategory" parameterType="Integer" resultType="com.sangame.hjm.model.JmSubCategory">
        select id, category_id, title, spell, icon, hot_flag, recommend_flag,index_flag,created_at,updated_at,creator,modifier,delete_flag from jm_sub_category
        <trim prefix="where" suffixOverrides="AND | OR">
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER} AND
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR} AND
            </if>
            <if test="spell != null">
                spell = #{spell,jdbcType=VARCHAR} AND
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR} AND
            </if>
            <if test="hotFlag != null">
                hot_flag = #{hotFlag,jdbcType=TINYINT} AND
            </if>
            <if test="recommendFlag != null">
                recommend_flag = #{recommendFlag,jdbcType=TINYINT} AND
            </if>
            <if test="indexFlag != null">
                index_flag = #{indexFlag,jdbcType=TINYINT} AND
            </if>
            <if test="creator != null">
                creator=#{creator,jdbcType=VARCHAR} AND
            </if>
            <if test="modifier != null">
                modifier=#{modifier,jdbcType=VARCHAR} AND
            </if>
            <if test="createAt != null">
                created_at=#{createAt,jdbcType=DATE} AND
            </if>
            <if test="updateAt != null">
                updated_at=#{updateAt,jdbcType=DATE} AND
            </if>
            <if test="deleteFlag != null">
                delete_flag=#{deleteFlag,jdbcType=TINYINT} AND
            </if>
            index_flag = 1
        </trim>

    </select>

    <!--关键字搜索接口   <include refid="columns"/>-->
    <select id="keyWordSearch" parameterType="com.sangame.hjm.model.KeyWordSearchCase" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
        from jm_project
        <trim prefix="where" suffixOverrides="AND | OR">
            <if test="keyword != null">
                keyword like "%"#{keyword}"%" AND
            </if>
        </trim>
    </select>
    <!--查询总条数-->
    <select id="keyWordSearchTotal" parameterType="com.sangame.hjm.model.JmProject" resultType="java.lang.Integer">
        select
        count(*)
        from jm_project
        <trim prefix="where" suffixOverrides="AND | OR">
            <if test="keyword != null">
                keyword like "%"#{keyword}"%"  AND
            </if>
        </trim>
    </select>

    <!--查询首页加盟头条-->
    <select id="getHomeJoinHeadline" parameterType="Integer" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
        from jm_project
        where state=1 and attribute=1
        order by created_at desc
        LIMIT 10
    </select>
    
    <!--根据行业查询分类-->
    <select id="searchSubCategoryByCategoryId" parameterType="com.sangame.hjm.model.SearchSubCategoryByCategoryIdCase" resultType="com.sangame.hjm.model.JmSubCategory">
        select id,created_at,updated_at,creator,modifier,category_id,title,spell,icon,hot_flag,recommend_flag,index_flag,delete_flag
        from jm_sub_category
        where category_id=#{categoryId}
    </select>

    <!--获取创建云信客服之后的数据-->
    <select id="getCreateYunXinID" parameterType="com.sangame.hjm.model.CreateYunXinIDCase" resultType="com.sangame.hjm.model.JmYunXin">
        select id,user_id,yx_accid,yx_name,yx_token,crm_agent,access_app,created_at,updated_at,modifier,creator,delete_flag
        from jm_yunxin
        where user_id =#{userId}
    </select>

    <!--分配云信客服-->
    <select id="getDistributeYunXinID" parameterType="com.sangame.hjm.model.DistributeYunXinIDCase" resultType="com.sangame.hjm.model.JmYunXin">
        select id,user_id,yx_accid,yx_name,yx_token,crm_agent,access_app,created_at,updated_at,modifier,creator,delete_flag
        from jm_yunxin
        where yx_accid =#{accid}
    </select>
    
    <!--查询优选推荐-->
    <select id="getPreferenceRecommend" parameterType="Integer" resultType="com.sangame.hjm.model.JmProject">
        select
        <include refid="columns"/>
        from jm_project
        where state=1 and attribute=0
        order by created_at desc
        LIMIT 10
    </select>

    <!--查询商机热搜   WHERE s.created_at > DATE_SUB(CURDATE(), INTERVAL 1 WEEK)-->
    <select id="getBusinessHotSearch" parameterType="Integer" resultType="com.sangame.hjm.model.BusinessHotSearch">
        select p.id,p.created_at as createAt,p.updated_at as updateAt,p.creator,p.modifier,direct_store as directStore,
        join_store as joinStore,message_num messageNum,category_id categoryId,sub_category_id subCategoryId,company_id companyId,
        title,keyword,photo,recommend_flag recommendFlag,register_time registerTime,
        company_name companyName,build_date buildDate,origin_addr originAddr,business_model businessModel,product,crowd,
        area,support,invest_min investMin,invest_max investMax,margin,facility_cost facilityCost,other_cost otherCost,description,
        state,attribute,p.delete_flag deleteFlag,core,invest_code investCode,invest_value investValue,region_id regionId,apply_count,visit_count
        from jm_project p INNER JOIN jm_project_stat s on p.id=s.project_id
        ORDER BY s.visit_count DESC
        LIMIT 0,10;
    </select>
    
</mapper>